{% extends 'base.html.twig' %}

{% block title %}Edit Categories
{% endblock %}

{% block body %}
	<h1>Sửa danh mục</h1>

	{# {{ include('categories/_form.html.twig', {'button_label': 'Sửa'}) }} #}

	{% form_theme form  'bootstrap_4_horizontal_layout.html.twig' %}
	{{ form_start(form) }}
	{{ form_widget(form.name) }}
	{{ form_errors(form.name) }}
	<div class="card-footer text-center">
		<button type="submit" class="btn btn-rose btn-fill">{{ button_label|default('Sửa') }}</button>
	</div>
	{{ form_end(form) }}


{% endblock %}
