{% extends "client/base.html.twig" %}
{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/main_styles.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ asset('css/core-style.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ asset('css/responsive.css')}}">
{% endblock %}
{% block javascripts %}
	<script src="{{asset('js/active.js')}}"></script>
	<script type="text/javascript">
		$( document ).ready(function() {
			getTotal();
			$(document).on('click','.test1, .test3',function(){
				let price = $(this).parents('tr').find('.price').text();
				let point = $(this).parents('tr').find('.point').text();
				let quantity = $(this).parents('tr').find('.qty-text').val();
				let sum_price = price * quantity;
				let sum_point = point * quantity;
				$(this).parents('tr').find('.total_price').text(sum_price);
				$(this).parents('tr').find('.total_point').text(sum_point);
				getTotal();
			})
			function getTotal(){
				let total_price =0;
				let total_point =0;
				$(".total_price").each(function() {
					total_price += parseFloat($(this).text());
				});
				$(".total_point").each(function() {
					total_point += parseFloat($(this).text());
				});
				$('#all_price').text(total_price);
				$('#all_point').text(total_point);
			}
			function updateCart(){
				let quantity = {};
				let product_id = [];
				$(".qty-text").each(function() {
					quantity[$(this).data('id')] = $(this).val();
				});
				$.ajax({
					url: "{{path('update_cart')}}",
					type: 'GET',
					data: {quantity},
				})
				.done(function() {
					return true;
				});
			}
			$('.btn-delete-item').click(function(){
				let btn = $(this);
				let product_id = btn.data('id');
				$.ajax({
					url: "{{path('delete_cart')}}",
					type: 'GET',
					data: {product_id},
				})
				.done(function() {
					btn.parents('tr').remove();
					getTotal();

				});
			});
			$('#update_cart').click(function(){
				updateCart();
			});
			$('#clear_cart').click(function(){
				let clear = "clear";
				$.ajax({
					url: "{{path('delete_cart')}}",
					type: 'GET',
					data: {clear},
				})
				.done(function() {
					$('#table_cart > tbody').empty();
					getTotal();

				});
			});
			$(".karl-checkout-btn").click(function(e){
				updateCart();
                var r = confirm(" Bạn chắc chưa?");
                if (r == true) {
                    return true;
                } else {
                    return false;
                }
		    })
		})
	</script>
{% endblock %}
{% block body %}
	<br><br><br><br><br><br>
	<!-- ****** Cart Area Start ****** -->
	<div class="cart_area section_padding_100 clearfix">
		<div class="container">
			<form action="checkout" method="post">
				<div class="row">
					<div class="col-12">
						<div class="cart-table clearfix">
							<table class="table table-responsive" id="table_cart">
								<thead>
									<tr>
										<th>Product</th>
										<th>Price</th>
										<th>Point</th>
										<th>Point Give</th>
										<th>Quantity</th>
										<th>Total Price</th>
										<th>Total Point</th>
										<th>Delete</th>

									</tr>
								</thead>
								<tbody>
									{% for cartDetail in cartDetails %}
										<tr>
											<td class="cart_product_img d-flex align-items-center">
												<a href="#"><img src="img/product-img/product-9.jpg" alt="Product"></a>
												<h6>{{cartDetail.product.getName()}}</h6>
											</td>
											<td class="price">
												<span>{{cartDetail.product.getPrice()}}</span>
											</td>
											<td class="point">
												<span>{{cartDetail.product.Point()}}</span>
											</td>
											<td class="point-give">
												<span>{{cartDetail.product.PointGive() ?? 0}}</span>
											</td>
											<td class="qty">
												<div class="quantity">
													<span class="qty-minus test1" onclick="var effect = document.getElementById('qty{{cartDetail.product.getId()}}'); var qty = effect.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 1 ) effect.value--;return false;">
														<i class="fa fa-minus " aria-hidden="true"></i>
													</span>
													<input data-id='{{cartDetail.product.getId()}}' type="number" class="qty-text" id="qty{{cartDetail.product.getId()}}" step="1" min="1" max="99" name="quantity[{{cartDetail.product.getId()}}]" value="{{cartDetail.quantity}}">
													<span class="qty-plus test3" onclick="var effect = document.getElementById('qty{{cartDetail.product.getId()}}'); var qty = effect.value; if( !isNaN( qty )) effect.value++;return false;">
														<i class="fa fa-plus " aria-hidden="true"></i>
													</span>
												</div>
											</td>
											<td class="total_price">
												<span >{{cartDetail.product.getPrice() * cartDetail.quantity}}</span>
											</td>
											<td class="total_point">
												<span >{{cartDetail.product.getPoint() * cartDetail.quantity}}</span>
											</td>
											<td>
												<button type="button" class="btn btn-danger btn-delete-item" data-id='{{cartDetail.product.getId()}}'>Delete</button>
											</td>
										</td>
										{% endfor %}
									</tr>
								</tbody>
							</table>
						</div>

						<div class="cart-footer d-flex mt-30">
							<div class="back-to-shop w-50">
								<a href="{{path('client_page')}}">Continue shooping</a>
							</div>
							<div class="update-checkout w-50 text-right">
							<a href="#">
								<div id="clear_cart">clear cart</div>
							</a>
							<a href="#">
								<div id="update_cart">Update cart</div>
							</a>
						</div>
						</div>

					</div>
				</div>

				<div class="row">
					<div class="col-12 col-lg-4">
						<div class="cart-total-area mt-70">
							<div class="cart-page-heading">
								<h5>Cart total</h5>
							</div>
							{% for error in app.session.getFlashBag.get('error') %}
								<div class="col-12">
									<div class="alert alert-danger">
										{{ error}}
									</div>
								</div>
							{% endfor %}
							<ul class="cart-total-chart">
								<li>
									<span>
										<strong>Receiver's Name</strong>
									</span>
									<span >
										<strong><input type="text" name="name_receiver" value="{{app.session.getFlashBag.get('name_receiver') ?? app.user.name}}" ></strong>
									</span>
								</li>
								<li>
									<span>
										<strong>Receiver's Phone</strong>
									</span>
									<span >
										<strong><input type="text" name="phone_receiver" value="{{app.user.phone}}"></strong>
									</span>
								</li>
								<li>
									<span>
										<strong>Receiver's Address</strong>
									</span>
									<span >
										<strong><input type="text" name="address_receiver" value="{{app.user.address}}"></strong>
									</span>
								</li>
								<li>
									<span>
										<strong>Your Point</strong>
									</span>
									<span >
										<strong>{{app.user.point}}</strong>
									</span>
								</li>
								<li>
									<span>
										<strong>Total point</strong>
									</span>
									<span id="all_point">
										<strong></strong>
									</span>
								</li>
								<li>
									<span>
										<strong>Total price</strong>
									</span>
									<span id="all_price">
										<strong></strong>
									</span>
								</li>
							</ul>
							<button class="btn karl-checkout-btn">Proceed to checkout</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<!-- ****** Cart Area End ****** -->

{% endblock %}
