{% extends "client/base.html.twig" %}
{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/main_styles.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ asset('css/responsive.css')}}">
{% endblock %}
{% block body %}
	<!-- Slider -->
	<div class="main_slider" style="background-image:url(images/slider_1.jpg)">
		<div class="container fill_height">
			<div class="row align-items-center fill_height">
				<div class="col">
					<div class="main_slider_content">
						<h6>Spring / Summer Collection 2017</h6>
						<h1>Get up to 30% Off New Arrivals</h1>
						<div class="red_button shop_now_button">
							<a href="#">shop now</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Banner -->

	<div class="banner">
		<div class="container">
			<div class="row">
				{% for category in categories %}
					<div class="col-md-4">
						<div class="banner_item align-items-center" style="background-image:url(images/banner_1.jpg)">
							<div class="banner_category">
								<a href="{{ path('category', {'category' : category.name}) }}">{{category.name}}</a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>

	<!-- New Arrivals -->

	<div class="new_arrivals">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="section_title new_arrivals_title">
						<h2>New Arrivals</h2>
					</div>
				</div>
			</div>
			<div class="row align-items-center">
				<div class="col text-center">
					<div class="new_arrivals_sorting">
						<ul class="arrivals_grid_sorting clearfix button-group filters-button-group">
							<li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center active is-checked" data-filter="*">all</li>
							{% for category in categories %}
								<li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center" data-filter=".{{category.id}}">{{category.name}}</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div
						class="product-grid" data-isotope='{ "itemSelector": ".product-item", "layoutMode": "fitRows" }'>

						<!-- Product 1 -->
						{% for product in products %}
							<div class="product-item {{product.category.getId()}}">
								<a href="{{path('product', {'product' : product.id})}}">
								<div class="product discount product_filter">
									<div class="product_image">
										<img src="images/product_1.png" alt="">
									</div>
									<div class="favorite favorite_left"></div>
									<div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center">
										<span>-$20</span>
									</div>
									<div class="product_info">
										<h6 class="product_name">
											<span>{{product.name}}</span>
										</h6>
										<div class="product_price">${{product.price}}
										</div>
									</div>
								</div>
								</a>
								<div class="red_button add_to_cart_button">
									<input type="hidden" class="product-id" name="product_id" value="{{product.id}}">
									<input type="hidden" class="quantity" name="quantity" value="1">
									<a href="#">add to cart</a>
								</div>
							</div>
						{% endfor %}
					</div>
					<div class="navigation">
							{{ knp_pagination_render(products) }}
						</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Deal of the week -->

	<div class="deal_ofthe_week">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6">
					<div class="deal_ofthe_week_img">
						<img src="images/deal_ofthe_week.png" alt="">
					</div>
				</div>
				<div class="col-lg-6 text-right deal_ofthe_week_col">
					<div class="deal_ofthe_week_content d-flex flex-column align-items-center float-right">
						<div class="section_title">
							<h2>Deal Of The Week</h2>
						</div>
						<ul class="timer">
							<li class="d-inline-flex flex-column justify-content-center align-items-center">
								<div id="day" class="timer_num">03</div>
								<div class="timer_unit">Day</div>
							</li>
							<li class="d-inline-flex flex-column justify-content-center align-items-center">
								<div id="hour" class="timer_num">15</div>
								<div class="timer_unit">Hours</div>
							</li>
							<li class="d-inline-flex flex-column justify-content-center align-items-center">
								<div id="minute" class="timer_num">45</div>
								<div class="timer_unit">Mins</div>
							</li>
							<li class="d-inline-flex flex-column justify-content-center align-items-center">
								<div id="second" class="timer_num">23</div>
								<div class="timer_unit">Sec</div>
							</li>
						</ul>
						<div class="red_button deal_ofthe_week_button">
							<a href="#">shop now</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
{% block javascripts %}
	<script src="{{asset('js/custom.js')}}"></script>
	<script>
		$( document ).ready(function() {
			$('.add_to_cart_button').click(function(e){
				e.preventDefault();
				let product_id = $(this).find('.product-id').val();
				let quantity = $(this).find('.quantity').val();
				$.ajax({
					url: "{{path('add_to_cart')}}",
					type: 'GET',
					data: {product_id, quantity},
				success: function(data) {
					$.notify("Thêm vào giỏ hàng thành công", "success");
				},
            	error: function(data) {
					$.notify("Có gì đó sai sai!", "error");;
				},
				})
			});
		})
	</script>
{% endblock %}
