{% extends 'base.html.twig' %}

{% block title %}Edit Users
{% endblock %}

{% block body %}
	<h1>Edit Users</h1>
	{% form_theme form  'bootstrap_5_layout.html.twig' %}
	{{ form_start(form) }}
	<div class="form-group">
		{{ form_label(form.password) }}
		{{ form_widget(form.password) }}
		{% if form_errors(form.password) %}
			<div class="alert alert-danger">
				{{ form_errors(form.password) }}
			</div>
		{% endif %}
	</div>
	<div class="form-group">
		{# {{ form_label(form.newPassword) }} #}
		{{ form_widget(form.newPassword) }}
		{% if form_errors(form.newPassword) %}
			<div class="alert alert-danger">
				{{ form_errors(form.newPassword) }}
			</div>
		{% endif %}
	</div>

	<div class="card-footer text-center">
		<button type="submit" class="btn btn-rose btn-fill">{{ button_label|default('Sửa') }}</button>
	</div>
	{{ form_end(form) }}


{% endblock %}
