{% extends 'client/base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/main_styles.css')}}">
	{# <link rel="stylesheet" type="text/css" href="{{ asset('css/core-style.css')}}"> #}
	{# <link rel="stylesheet" type="text/css" href="{{ asset('css/responsive.css')}}"> #}
{% endblock %}

{% block title %}Edit Users
{% endblock %}

{% block body %}
<br><br><br><br><br><br><br>
	<h3>Sửa thông tin</h3>
	{% form_theme form  'bootstrap_5_layout.html.twig' %}
	{{ form_start(form) }}
	<div class="form-group">
		{{ form_label(form.name) }}
		{{ form_widget(form.name) }}
		{% if form_errors(form.name) %}
			<div class="alert alert-danger">
				{{ form_errors(form.name) }}
			</div>
		{% endif %}
	</div>
	<div class="form-group">
		{{ form_label(form.email) }}
		{{ form_widget(form.email) }}
		{% if form_errors(form.email) %}
			<div class="alert alert-danger">
				{{ form_errors(form.email) }}
			</div>
		{% endif %}
	</div>
	<div class="form-group">
		{{ form_label(form.phone) }}
		{{ form_widget(form.phone) }}
		{% if form_errors(form.phone) %}
			<div class="alert alert-danger">
				{{ form_errors(form.phone) }}
			</div>
		{% endif %}
	</div>
	<div class="form-group">
		{{ form_label(form.address) }}
		{{ form_widget(form.address) }}
		{% if form_errors(form.address) %}
			<div class="alert alert-danger">
				{{ form_errors(form.address) }}
			</div>
		{% endif %}
	</div>
	{% if form.point is defined %}
		<div class="form-group">
			{{ form_label(form.point) }}
			{{ form_widget(form.point) }}
			{% if form_errors(form.point) %}
				<div class="alert alert-danger">
					{{ form_errors(form.point) }}
				</div>
			{% endif %}
		</div>
	{% endif %}
	 {% if form.roles is defined %}
		{{ form_label(form.roles) }}
		{{ form_widget(form.roles) }}
		{% if form_errors(form.roles) %}
			<div class="alert alert-danger">
				{{ form_errors(form.roles) }}
			</div>
		{% endif %}
	{% endif %}

	<div class="card-footer text-center">
		<button type="submit" class="btn btn-rose btn-fill">{{ button_label|default('Sửa') }}</button>
	</div>
	{{ form_end(form) }}


{% endblock %}
