{% extends 'base.html.twig' %}

{% block title %}users index
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-12">
			<a href="{{ path('app_users_new') }}">
				<button class="btn btn-success">Thêm</button>
			</a>
			<div class="card">
				<div class="card-content">
					<h2>
						Quản lý nhân viên
					</h2>
					<div class="row" style="height:100%;">

						<table class="table">
							<thead>
								<tr>
									<th>Id</th>
									<th>Tên</th>
									<th>Email</th>
									<th>Số điện thoại</th>
									<th>Địa chỉ</th>
									<th>Cấp bậc</th>
									<th>Sửa</th>
									<th>Xóa</th>
								</tr>
							</thead>
							<tbody>
								{% for user in users %}
									<tr>
										<td>{{ user.id }}</td>
										<td>{{ user.name }}</td>
										<td>{{ user.email }}</td>
										<td>{{ user.phone }}</td>
										<td>{{ user.address }}</td>
										<td>{{ user.roles[0]  }}</td>
										<td>
											<a href="{{ path('app_users_edit', {'id': user.id}) }}">
												<button class="btn btn-success">Sửa</button> 
											</a>
										</td>
                                        <td>
											<form method="post" action="{{ path('app_users_delete', {'id': user.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
												<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
												<button class="btn btn-danger">Delete</button>
											</form>
										</td>
									</tr>
								{% else %}
									<tr>
										<td colspan="8">no records found</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
						<div class="navigation">
							{{ knp_pagination_render(users) }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
